<table class="table table-hover">
  <thead>
  <tr>
    <th>Khóa học</th>
    <th>Chức năng</th>
  </tr>
  </thead>
  <tbody>
  <% if @courses.length > 0 %>
      <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, course_detail_path(id: course.id) %></td>
            <td>
              <span class="fa fa-pencil"></span>
              <span class=" fa fa-trash-o" title="Xoá"></span>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
