<button class="btn btn-primary" data-toggle="modal" data-target="#add-topic-modal">
  <i class="fa fa-plus">&nbsp;Them chu de</i></button>
<!-- Modal -->
<div class="modal fade" id="add-topic-modal" role="dialog">
  <%= render 'new' %>
</div>
<div id="topic-list">
  <%= render 'list' %>
</div>
