<!DOCTYPE html>
<html>
<head>
  <title>Lms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://use.fontawesome.com/498f2c2c0d.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>
</head>

<body class="header-fixed header-fixed-space">
<div class="container">
  <%= yield %>
</div>
</div>
</body>
</html>
